*{
	outline: 0;
}

header{
	border-top: 2px solid #4C3D42;
} 
header .navbar {
	min-height: 100px;
}

header .navbar-brand{
	height: auto;
}

header .icon-bar{
	background-color: #4C3D42;
}

header .navbar-brand{
	padding: 15px 10px 0;
	}

header #navbar ul{
margin: 25px 0;
  padding: 0;
}

header #navbar li{
	margin: 5px 15px;
}

header #navbar li a{
	position: relative;;
	z-index: 9999;
	color: #6E6E6D;
	border: 1px solid #6E6E6D;
	font-size: 16px;
	text-transform: uppercase;
}

input[type="text"],
input[type="password"]{
	width: 100%;
	border: 2px solid #F5E8E4;
	line-height: 20px;
	padding: 10px;
}

button.action{
background: #212121;
  width: 96%;
  border: none;
  
  margin-top: 20px;
  box-sizing: content-box;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;

}

button.action.alerta{
background: #fff;
  color: #FF4D4D;
  border: 1px solid #FF4D4D;
  box-sizing: border-box;
  height: 42px;
}

#account h1,
#profile-pet h1{
	  color: #4C3D42;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#profile-pet{
	font-size: 16px;
	font-weight: normal;
}

.cover{
	background: url(../img/cover.jpg) center top no-repeat;
	background-size: cover;
	box-sizing: content-box;
	width: 100%;
	  height: 300px;
  padding: 200px 0 50px 0;

}

.cover h1{
	text-align: center;
	color: #fff;
}

.cover input{
width: 80%;
  margin: 0 auto;
  display: block;
  height: 60px;
  border: 3px solid #D0C4C1;
  padding: 10px;
  font-size: 18px;
  font-style: italic;
}

.resume-pets a h3{
	font-size: 20px;
	color: #4C3D42;
	margin: 10px 0 5px;
}

.resume-pets a p{
	font-size: 15px;
	color: #6E6E6D;
}

.resume-pets a span{
background-color: #4C3D42;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 10px;
  color: #fff;
}

.resume-pets a:hover{
	text-decoration: none;
}

.resume-pets .col-md-3{
	margin: 10px 0;
}

.resume-pets h2{
	color: #4C3D42;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#citacao{
	padding: 30px;
	margin-top: 30px;
	text-align: center;
}

#citacao cite{
	font-size: 20px;
}

#citacao em{
	display: block;
}

#citacao em:before{
	content: "- ";
}

footer{
	background-color: #4C3D42;
	padding: 25px 0;
	margin-top: 30px;
	clear: both;
}

footer #texto-apoio p{
	padding: 15px 0 15px 15px;
	border-left: 1px dotted #F5E8E4;
	color: #F5E8E4;
}

footer ul{
text-align: center;
  margin: 0;
  line-height: 56px;
 padding: 20px;
}

footer ul li{
	display: inline;
	width: 30%;
	
	margin: 0 5px;
}

footer ul li a{
	color: #F5E8E4;
  padding: 5px 15px;
	
	text-transform: uppercase;
}

@media (max-width:550px){

	header .navbar-brand{
		width: 80%;
	}
	header .navbar-toggle{
		  margin-top: 30px;
	}
	header #navbar li{
		margin: 0;
	}
}
